@font-face {
    font-family: WaltDisney;
    src: url('../fonts/waltograph42.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
	margin: 0 auto;
	height: 100%;
}

header {
	font-family: Lucida;
	font-size: 2rem;
}

header h1 {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

body {
	text-align: left;
}

#create{
	width: auto;
	margin: 0 10%;
}

#create_form{
	background: #999999;
	position: absolute;
	right: 25%;
	top: 20%;
	width: 40%;
	padding: 1%;
	border: solid 2px #000000;
	border-radius: 10px;
}

label ,title{
	color:black;
	font-size:1.5rem;
}