#comments_section{
	width: 100%;
	box-sizing: border-box;
	padding: 1%;
	float: left;
}

#event_comments{
	margin-top: 3%; 
	border-top: groove 2px #999999;
}

#event_comments > h4:first-child{
	text-align: center;
}

textarea {
   resize: none;
}

.user_comment > div > *{
	display: inline-block;

}

#event_comments{
	width: 100%;
}

.user_comment > div {
	width: 100%
}

.user_comment > div > .date_comment{
	margin: 0;
	float: right;
}

.user_comment > div > .username_comment{
	margin: 0;
	float: left;
}