@font-face {
    font-family: WaltDisney;
    src: url('../fonts/waltograph42.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#header_create {
	font-family: Lucida;
	font-size: 3rem;
}

header h1 {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}

body {
	text-align: left;
}

#create{
	width: auto;
	margin: 0 10%;
}

#create_form{
	background: #999999;
	position: absolute;
	right: 25%;
	top: 20%;
	width: 40%;
	padding: 1%;
	border: solid 2px #000000;
	border-radius: 10px;
	z-index: 1;
	display: none;
}

#create_form:focus{
	display: block;
}

#close_create_event{
	float: right;
	background-color: transparent;
	outline: none;
	border: none;
}
#close_create_event img{
	width: 16px;
}

#close_create_event:hover{
	background-color: #000000;
	opacity: 0.2;
    color: #ffffff;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}