html{
	overflow: scroll;
}

html,body{
	width: 100%;
	margin: 0;
	height: 100%;
	background-color: #eeeeee;
}

.top-bar{
	height: 2rem;
	background-color: #0066CC;
	padding: 0.1rem 0.25rem;
	vertical-align: middle;
	border-bottom: groove 1px #eeeeee;
}

.top-bar form{
	height: 100%;
	padding: 0.3rem 0rem;
}

#search-bar{
	width: 25rem;
}

.left-bar{
	width: 15%;
	/*height: 100%;*/
	margin: 0.5rem;
	float: left;
	background-color: #cccccc;
    border: groove 1px #eeeeee;
    font-size: x-large;
    overflow: hidden;
}

.left-bar > div{
	border-bottom: groove 2px #999999;
	padding: 0.5rem;
	padding-bottom: 20%;

}

.left-bar > div:last-of-type{
	border-bottom: none;
}

.link-events{
	text-align: center;
}

.link-events a{
	margin-top: 1rem;
	padding: 0.2rem 15%;
	border-bottom: solid 1px #eeeeee;
	text-decoration: none;
	color: #000000;
}

.left-bar div a:hover{
	background-color: orange;
	color: #ffffff;
}

.left-bar div h5{
	color: #444444;
	-webkit-margin-before: 0rem;
    -webkit-margin-after: 0.2rem;
}

.display-event{
	margin: 0.5rem;
	background-color: #dddddd;
    border: groove 1px #eeeeee;
    overflow: hidden;
}

#header{
	display: inline-block;
	min-height: 10%;
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
	border-bottom: groove 2px #cccccc;
	position: relative;
	background-image: url('../images/events/1.jpg');
	background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #ffffff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    
}

#header:hover{
	cursor: pointer;
}

#header *:hover{
	cursor: initial;
}

#header div:first-child{
	float: left;
	height: 100%;
	width: auto;
}

#header *{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

#date{
	float: right;
}

#option{
	margin: 0.5rem;
	position: absolute; 
	bottom: 0;
	right: 0;
}

#description{
	width: 80%;
	float: left;
	padding: 1rem;
	box-sizing: border-box;
}

#description *{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.users{
	font-size: small;
	margin-left: 1rem;
	display: inline-block; 
}

.users div h1:first-child{
	text-align: left;
}

.users div{
	text-align: center;
}