@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

html,body{

background: #e9eaed;
cusor:default;
}


.display-event{
  margin: 0.5rem;
  background-color: #ffffff;
  border: groove 1px #999999;
  overflow: hidden;
}

#header{
  display: inline-block;
  min-height: 10%;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-bottom: groove 2px #cccccc;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000; 
}


#header div:first-child{
  float: left;
  height: 100%;
  width: auto;
}

#header *{
  -webkit-margin-before: 0rem;
    -webkit-margin-after: 0rem;
}

#date{
  float: right;
}

#option{
  position: absolute; 
  bottom: 0;
  right: 0;
}

#description{
  width: 70%;
        height: 70%;
  float: left;
  padding: 1rem;
  box-sizing: border-box;
        font size:14px;
        color: black;
        background: #ffffff;
        font-family: 'Open Sans', sans-serif;
}

#description h4{
        font-size:25px;
        font-family: 'Open Sans', sans-serif;
}

/* Base Styles */
#users_event,
#users_event ul,
#users_event li,
#users_event a {
  margin: 0;
  padding:0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
#users_event {
  width: 20%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: right;
  margin-right:0.5rem;
  margin-bottom:0.4rem;
  cursor:default;
}
#users_event a {
  line-height: 1.3;
}
#users_event > ul > li:first-child {
  background: #47639E;
  background: -moz-linear-gradient(#47639E 0%, #47639E 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #47639E), color-stop(100%, #47639E));
  background: -webkit-linear-gradient(#47639E 0%, #47639E 100%);
  background: linear-gradient(#47639E 0%, #47639E 100%);
  border: 1px solid #e9eaed;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#users_event > ul > li:first-child > a {
  padding: 15px 10px;
  background: url('pattern.png') top left repeat;
  border: none;
  border-top: 1px solid #e9eaed;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 0 -1px 1px #000000;
}
#users_event > ul > li:first-child > a > span {
  padding: 0;
}

#users_event > ul > li {
  background: #e9eaed;
  background: -moz-linear-gradient(#e9eaed 0%, #e9eaed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9eaed), color-stop(100%, #e9eaed));
  background: -webkit-linear-gradient(#e9eaed 0%, #e9eaed 100%);
  background: linear-gradient(#e9eaed 0%, #e9eaed 100%);
}

#users_event > ul > li > a {
  font-size: 14px;
  display: block;
  background: url('pattern.png') top left repeat;
  color: black;
  border: 1px solid #47639E;
}
#users_event > ul > li > a > span {
  display: block;
  padding: 12px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 4px;
}
#users_event > ul > li > a:hover {
  text-decoration: none;
}
#users_event > ul > li.active {
  border-bottom: none;
}
#users_event > ul > li.has-sub > a span {
  background: url('icon_plus.png') 96% center no-repeat;
}
#users_event > ul > li.has-sub.active > a span {
  background: url('icon_minus.png') 96% center no-repeat;
}
/* Sub menu */
#users_event ul ul {
  background: #fff;
  border-right: 1px solid #a2a194;
  border-left: 1px solid #a2a194;
}
#users_event ul ul li {
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);
}
#users_event ul ul li:last-child {
  border-bottom: 1px solid:black;
}
#users_event ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
  font-size: 12px;
  font-weight: normal;
}
