.display-event{
	margin: 0.5rem;
	background-color: #dddddd;
    border: groove 1px #eeeeee;
    overflow: hidden;
}

#header{
	display: inline-block;
	min-height: 10%;
	width: 100%;
	padding: 1rem;
	box-sizing: border-box;
	border-bottom: groove 2px #cccccc;
	position: relative;
	background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #ffffff;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    
}

#header:hover{
	cursor: pointer;
}

#header *:hover{
	cursor: initial;
}

#header div:first-child{
	float: left;
	height: 100%;
	width: auto;
}

#header *{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

#date{
	float: right;
}

#option{
	margin: 0.5rem;
	position: absolute; 
	bottom: 0;
	right: 0;
}

#description{
	width: 80%;
	float: left;
	padding: 1rem;
	box-sizing: border-box;
}

#description *{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.users{
	font-size: small;
	margin-left: 1rem;
	display: inline-block; 
}

.users div h1:first-child{
	text-align: left;
}

.users div{
	text-align: center;
}