html{
	overflow: scroll;
	min-width: 700px;
}

html,body{
	width: 100%;
	margin: 0;
	height: 100%;
	background-color: #eeeeee;
}

body > div{
	margin: 0.5rem;
	background-color: #dddddd;
    border: groove 1px #eeeeee;
    overflow: hidden;
}
