html, body
{
	width: 90%;
	height: 90%;
	margin: auto;
	padding: center;
	background-color: #333333;
}

body{
	background-color: #eeeeee;
	padding: 20px;
}

#loginButton{
	margin: auto;
    width: 30%;
    padding: 10px;	
}

.center
{
	text-align: center;
}