.top-bar{
	height: 2rem;
	background-color: #0066CC;
	padding: 0.1rem 0.25rem;
	vertical-align: middle;
	border-bottom: groove 1px #eeeeee;
	margin: 0;
}

.top-bar > *{
	display: inline-block;
}

.top-bar *{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.top-bar form{
	height: 100%;
	padding: 0.3rem 0rem;
}

#search-bar{
	width: 25rem;
	margin-right: 0.1rem;
}

#preferences_button{
	margin:	0.3rem;
	padding: 0;
	float: right;
	background-color: transparent;
	outline: none;
	border: none;
}

#create_event_button:hover{
	cursor: pointer;
}

#preferences_button:hover, #create_event_button:hover{
	background-color: #000000;
	opacity: 0.2;
    color: #ffffff;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

#pref_menu {
	max-height: 0em;
    background-color: #eeeeee;
    margin-top: 1.8rem;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

#pref_menu > a{
	margin: 0.2em 0.2em 0em;
	display: block;
}

#pref_menu:hover,
#preferences_button:hover + #pref_menu {
    max-height: 2000px;
	border: 1px solid #999999;
}

#preferences_button img{
	width: 20px;
	height: 20px;
	src: "images/template/gear-64.png";
}

#home_button{
	float: left;
}

#create_event_button{
	float: right;
}

#home_button, #create_event_button{
	background-color: transparent;
	margin: 0.4rem 0.2rem;
	outline: none;
	border: none;
}

#home_button:hover{
	cursor: pointer;
}

#home_button img, #create_event_button img{
	margin: auto;
	width: 16px;
}

#create_event_button > *{
	display: inline-block;
}

